body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 1em;
}

section {
  max-width: 800px;
  margin: 2em auto;
  padding: 2em;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
  text-align: center;
  padding: 1em;
  background-color: #000;
  color: #fff;
  position: fixed;
  bottom: 0;
  width: 100%;
}

ul {
  list-style: none;
  padding: 0;
}

.service-content {
  display: none;
}

.service-content.active {
  display: block;
}

.carousel-container {
  overflow: hidden;
}

#achievements-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  transition: transform 0.5s ease-in-out;
}

#achievements-list li img {
  min-width: 100%;
  width: 800px;
  height: 600px;
}

#achievements-list li.hidden {
  display: none;
}

#achievements-list li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  text-decoration: none;
}

#achievements-list li span.center-text {
  margin-top: 5px;
  font-weight: bold;
}

.carousel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-container {
  display: flex;
}

.carousel-prev,
.carousel-next {
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  margin: 0 10px;
}

/* Обновленные стили для обратной связи */
.serukopsa-lebtum {
  position: fixed;
  right: 3%;
  bottom: 23%;
  z-index: 999;
  background-color: #fff;
  border-radius: 50%;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.serukopsa-lebtum:hover {
  background-color: #ddd;
}

.serukopsa-lebtum i {
  color: #000;
  font-size: 31px;
}

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 20px;
  z-index: 1000;
}

.popup-content {
  text-align: center;
}

.feedback-btn {
  margin-right: 10px;
}
